@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<GradeBook>
@using WhiteBoard;

@{
    Layout = "Views/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>Average: </th>
        <td>@String.Format("{0:F2}", @Model.Average)</td>
    </tr>
    <tr>
        <th>Lowest grade:</th>
        <td>@Model.Min</td>
    </tr>
    <tr>
        <th>Highest grade:</th>
        <td>@Model.Max</td>
    </tr>
</table>     
    

<h3>Grade distribution:</h3>
<span style="white-space: pre-wrap">@Model.OutputBarChart()</span>
